<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="BatchExecution.ZomatoTestScript"/>
      <class name="BatchExecution.PaytmTestScript"/>
      <class name="BatchExecution.MyntraTest"/>
      <class name="BatchExecution.AutomateInstagramLoginPage"/>
      <class name="BatchExecution.ZomatoWindowHandling"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
